html {
    scroll-behavior: smooth;
}

body {
    background-color: grey;
    background: url("ressources/bck.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

header{
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    font-family: "Mali";
    text-shadow: 0 0 5px green;
}

header h1 {
    color: darkgreen;
}

nav{
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    margin: 10px auto;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    display: inline;
    border-right: 1px solid #bbb;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    height: 30px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 25px;
}

nav ul li a:hover{
    color: green;
}

section {
    background-color: rgba(255, 255, 255, 0.90);
    width: 75%;
    height: 350px;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
}

section p {
    padding: 15px;
    /* text-align: justify;
    padding: 15px;
    column-count: 3;
    color: #0c2427; */
}

footer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    height: 50px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-family: "Mali";
    text-shadow: 0 0 5px green;
}

footer p {
    padding-top: 15px;
}

#tarifs{
    /* width: 600px; */
    height: 100%;
}

#tarifs table{
    text-align: center;
    border-radius: 10px;
    /* width: 600px; */
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
}

#tarifs table thead{
    background-color: rgba(0, 0, 175, 0.25);
    line-height: 44px;
}

#tarifs table thead th{
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    height: 44px;
    font-size: 14px;
}

#tarifs table tr {
    border-bottom: 1px solid #ccc;
}

#tarifs table tr:last-child{
    border-bottom: none;
}

#tarifs table tr td{
    height: 40px;
}

.coche{
    background: url("ressources/css_sprites.png") -10px -10px;
}

.croix{
    background: url("ressources/css_sprites.png") -80px -10px;
}

.coche, .croix{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 800px;
    height: 350px;
    margin: 10px auto;
    overflow: hidden;
}

.slider ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 300%;
    animation-name: AutoSlide; 
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

.slider ul li {
    display: inline;
}

#presentation {
    text-align: justify;
    column-count: 3;
    color: #0c2427;
}

/* #trouver{
    width:800px;
} */

#map{
    margin: 0 auto;
    width: 100%;     
    /* width:800px; */
    height:500px;
    border-radius: 10px;
}

#vershaut {
    position: fixed;
    bottom: 0px;
    right: 150px;
    width: 50px;
    height: 50px;
}

/************* File API demo ************/

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  /* Hide all steps by default: */
.tab {
    display: none;
  }

  .btns{
    overflow:auto;
    position: fixed;
    right: 240px;
  }

  .demoBtn{
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

@media only screen and (max-device-width:500px){   
    body {
        background: none;
        background-color: #0c2427;
    } 

    header{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    nav {
        width: 95%;
        height: auto;
    }

    nav ul {
        position: relative;
        /* display: none; */
    }
    /*Create vertical spacing*/
    nav ul li {
        /* float: none; */
        border-bottom: #0c2427 1px solid;
        /* margin: auto 0 0; */
        padding-top: 35px;
        height: 70px;
        display: block;
    }
    /*Make all menu links full width*/
    nav ul li, nav ul li a {
        width: 100%;
        display: block;
        font-size: 45px;
    }

    #trouver, #presentation, #tarifs, #tarifs table, footer{
        width: 95%;
    }

    #presentation{
        column-count: 1;
    }

    #tarifs, #tarifs thead tr th{
        font-size: 35px;
    }

    #tarifs table tr {
        border-bottom: 1px solid #404040;
    }

    #vershaut{
        display: none;
    }
}

@keyframes AutoSlide{
    0%, 15%, 100%{
        left: 0px;
    }
    35%,50%{
        left: -100%;
    }
    70%,85%{
        left: -200%;
    }
}