body {
    background-color: grey;
}

nav ul li {
    /* font-size: x-large; */
}

header h1 {
    color: darkgreen;
}

footer {
    color: crimson;
}

.slider {
    color: coral;
}

#presentation {
    color: blue;
}