body {
    background: url("ressources/world.png") no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    /* -webkit-background-size: cover; */
}

p, a{
    font-family: "Inconsolata";
    margin: 0;
}

img{
    height: 30px;
    width: 23px;
}

#contact{
    display: block;
    background-color: #FFF;
    width: 40%;
    height: 100vh;
    border: #000 dashed 1px;
    font-size: 5.5em;
}

.contactData{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contactData p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.contactData a{
    /* position: fixed;
    bottom: 50px;
    left: 175px; */
    text-decoration: none;
    color: #000;
    border: #000 dashed 0.5px;
}

.newcal1{
    position: fixed;
    bottom: 175px;
    right: 125px;
}

.newcalcontent{
    /* display: block; */
    position: fixed;
    bottom: 168px;
    right: 110px;
    /* height: 55px;
    width: 55px;
    background-color:rgba(0, 0, 0, 0,0.5);
    color: #000;
    opacity: 0;
    transition: width 2s, height 2s, background-color 2s; */
}

.newcalcontent:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.aussie1{
    position: fixed;
    bottom: 175px;
    right: 185px;
}

.newcalcontent, .australiacontent1, .australiacontent2, .australiacontent3, .newzelandcontent1, .indiacontent1, .francecontent1{
    display: block;
    height: 55px;
    width: 55px;
    background-color:rgba(000, 000, 000, 0.5);
    color: #000;
    opacity: 0;
    transition: width 2s, height 2s, background-color 2s;
}

.australiacontent1{
    position: fixed;
    bottom: 175px;
    right: 185px;
}

.australiacontent1:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 130px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.australiacontent2{
    position: fixed;
    bottom: 115px;
    right: 215px;
}

.australiacontent2:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.australiacontent3{
    position: fixed;
    bottom: 155px;
    right: 400px;
}

.australiacontent3:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.aussie2{
    position: fixed;
    bottom: 115px;
    right: 215px;
}

.aussie3{
    position: fixed;
    bottom: 155px;
    right: 400px;
}

/* .newzeland1{
    position: fixed;
    bottom: 85px;
    right: 80px;
} */

.newzeland2{
    position: fixed;
    bottom: 35px;
    right: 125px;
}

.newzelandcontent1{
    position: fixed;
    bottom: 35px;
    right: 125px;
}

.newzelandcontent1:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.france1{
    position: fixed;
    top: 365px;
    left: 880px;
}

.francecontent1{
    position: fixed;
    top: 365px;
    left: 880px;
}

.francecontent1:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

.india1{
    position: fixed;
    top: 425px;
    right: 575px;
}

.indiacontent1{
    position: fixed;
    top: 425px;
    right: 575px;
}

.indiacontent1:hover{
    background-color:rgba(204, 204, 204, 0.85);
    opacity: 1;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 99;
}

/* label, legend, header, button, select, input{
    font-family: "Inconsolata";
}

legend{
    font-weight: bold;
}

header{
    background-color: rgba(255, 255, 255, 0.75);
    width: 50%;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    text-shadow: 0 0 5px darkslategray;
}

section {
    background-color: rgba(255, 255, 255, 0.75);
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;   
}

fieldset{
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;   
}

.contener div{
    width: 65%;
    margin: 5px auto;
}

label{
    padding: 0 ;
    display: block;
    float: left;
    width: 150px;
}

input, textarea, select{
    width: 100%;
    height: 35px;
}

.genderRadio{
    font-family: "Inconsolata";
    width: 50%;
    padding: 0;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.confirmlbl{
    width: 300px;
    margin-left: 25px;
}

.contenerBtn input{
    float: left;
    width: 25px;
    height: 20px;
}

.contenerBtn button{
    display: block;
    width: 150px;
    height: 30px;
    margin: 11px auto;
    box-shadow: 10px 5px 5px #202d42;
} */

/***** animation *****/
#animation{
    /* animation: slideIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    
    animation: slideIn 10s infinite alternate;
    color: white;
}

/* .box{
    display: block;
    border: solid 1px #0000FF;
    width: 100px;
    height: 100px;
    background-color: crimson;
    color: crimson;
    transition: width 2s, height 2s, background-color 2s,transform 2s;
}

.box:hover{
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    transform: rotate(720deg);
}

@keyframes slideIn{
    300%{
        margin-left: 100%;
        margin-left: 0%;
        width: 100%;
    }
    75%{
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
} */